<div class="row">
  <app-loading-indicator [state]="loading"></app-loading-indicator>
  <div class="col-sm-12" *ngIf="!loading">
    <div class="card-deck">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3" *ngFor="let course of courses">
        <div class="card mt-2">
          <img class="card-img-top" src="https://picsum.photos/500/350" />
          <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description.substring(0, 250) + '...' }}</p>
          </div>
          <div class="card-footer">
              <button class="btn btn-info" (click)="openCourse(course)">Open</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 d-flex align-items-center justify-content-center" *ngIf="!courses.length && !loading">
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">No Results</h5>
            <p class="card-text">We might be having a slight hiccup, try again in a minute</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
