@import '~src/_variables.scss';

.content {
    display: flex;
    padding: 15px;
    flex: 1;
    flex-direction: column;
}

.filters {
    padding: 15px;
}

.content--list-controls {
    display: flex;
    padding: 16px 0px;
    border-bottom: 1px solid #EBEBEB;

    .controls--display-modes {
        display: flex;

        .display-modes--label {
            align-self: center;
            width: 100%;
            margin-bottom: 2px;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            color: #777;
            margin-right: 14px;
        }

        .fas {
            cursor: pointer;
            margin-right: 20px;

            &.active {
                color: $purple;
            }
        }
    }
}

.content--list-contents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-items: space-between;

    .list-contents--course-card {
        display: flex;
        margin-right: 12px;
        margin-top: 24px;
        padding: 24px;
        flex: 1;
        background: #FFF;
        box-shadow: 0px 2px 10px rgba(59,84,169,0.025);
        transition: box-shadow 0.25s ease;
        border-radius: 4px;

        &.grid {
            flex: 0.33;
            flex-direction: column;
            min-width: 250px;
            max-width: 340px;
        }

        &.list {
            flex: auto;
            flex-direction: row;

            .course-card--image {
                display: block;
                height: 110px;
                margin-right: 25px; 
            }
        }

        &:hover {
            background: white;
            box-shadow: 0px 2px 10px rgba(59,84,169,0.1);
        }

        .course-card--image {
            object-fit: cover;
            max-width: 100%;
        }

        .course-card--teaser {
            line-height: 1.4em;
        }
    }
}

@media (max-width: 1099px) {
    .content--list-contents {
        .list-contents--course-card.grid {
            flex: 1;
            min-width: calc(33.3% - 12px);
            max-width: calc(33.3% - 12px);
        }
    }
}

@media (max-width: 959px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 819px) {
    .content--list-contents {
        .list-contents--course-card.grid {
            min-width: calc(50% - 12px);
            max-width: calc(50% - 12px);
        }
    }
}

@media (max-width: 549px) {
    .content--list-contents {
        .list-contents--course-card.grid {
            min-width: 100%;
            max-width: 100%;
        }

        .list-contents--course-card.list {
            display: block;

            .course-card--image {
                height: 50px;
                float: left;
            }
        }
    }
}