@import '~src/_variables.scss';

.navbar {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    box-shadow: 0px 2px 10gb rgba(59,84,169,0);
    transition: box-shadow 0.2s ease;
    
    &:hover {
        background: white;
        box-shadow: 0px 2px 10px rgba(59,84,169,0.075);
    }

    .navbar--brand {
        display: flex;
        align-items: center;
        min-width: 165px;

        .brand--logo {
            margin-right: 12px;
        }

        .brand--text {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 24px;
            color: $purple;
        }
    }

    .navbar--nav-items {
        list-style: none;

        .nav-items--item {
            display: inline-block;
            margin-right: 24px;

            &.active > a {
                color: $purple;
            }

            a {
                font-size: 16px;
                color: #555;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 300;
                transition: color 0.15s ease;

                &:hover {
                    color: $purple;
                }
            }
        }
    }
}