.course-tabs {
    list-style: none;
    margin: 0;
    padding: 0px;
    border: 1px solid #D3D3D3;
}

.course-tab-item {
    display: inline-block;
    height: 100%;
    padding: 12px 6px;
    border-right: 1px solid #D3D3D3;
}

.course-tab-item > span {
    margin: 0 2rem;
    cursor: pointer;
}

.course-tab-item.active > span {
    font-weight: bold;
}

.tab-content {
    border: 1px solid #d3d3d3;
}