<div class="container">
  <aside class="meta">
    <h1 class="meta__lede" *ngIf="course">
      <span class="lede__main">{{ course.title }}</span>
      <span class="lede__sub">{{ course.description }}</span>
    </h1>
    <div class="meta__lessons" *ngIf="course">
      <b class="lessons__lede">Lessons</b>
      <div class="meta__lesson__item" *ngFor="let lesson of course.lessons" (click)="selectLesson(lesson)" [ngClass]="{
            'active': activeLesson && activeLesson.id === lesson.id
         }"
      >
        <div class="meta__lesson__item__left">
          <i class="fas fa-play-circle"></i>
        </div>
        <div class="meta__lesson__item__right">
          <span class="lesson__title">{{ lesson.name }}</span>
        </div>
      </div>
    </div>
  </aside>
  <main class="content">
    <section class="content--list-player">
      <section class="content--player-controls">
        <div class="controls--display-modes">
          <span class="display-modes--label">Video Display Mode</span>
          <i class="fas fa-expand" [ngClass]="{'active': (displayMode == 'wide')}" (click)="setDisplayMode('wide')"></i>
          <i class="fas fa-compress" [ngClass]="{'active': (displayMode == 'narrow')}" (click)="setDisplayMode('narrow')"></i>
        </div>
      </section>
      <section class="content--player">
        <div class="content--player--no-lesson" *ngIf="!activeLesson">
          <span class="textface">¯\_(ツ)_/¯</span>
          <span class="lede">No lesson selected</span>
          <span class="sub">Select a lesson from the sidebar to get started</span>
        </div>
        <div class="player--iframe-container" *ngIf="activeLesson">
          <iframe [src]="embedUrl()" *ngIf="activeLesson" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </section>
    </section>
  </main>
</div>
