<!--<div class="row" *ngIf="course">-->
<!--  <div class="col-sm-4 text-center">-->
<!--    <div class="card">-->
<!--      <img class="card-img-top" src="https://picsum.photos/1280/800" class="img-fluid" />-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">{{ course.title }}</h5>-->
<!--        <ul>-->
<!--          <li>Created: {{ course.createdAt | date:'longDate' }}</li>-->
<!--          <li>Last Updated: {{ course.updatedAt | date:'longDate' }}</li>-->
<!--          <li>Category: {{ (course.category) ? course.category.name : 'Uncategorised' }}</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-8">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-12">-->
<!--        <ul class="course-tabs">-->
<!--          <li class="course-tab-item" [ngClass]="{'active': activeTab == 'description'}" (click)="changeTab('description')"><span class="text-primary">About</span></li>-->
<!--          <li class="course-tab-item" [ngClass]="{'active': activeTab == 'content'}" (click)="changeTab('content')"><span class="text-primary">Lessons</span></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-sm-12">-->
<!--        <div class="col-sm-12 tab-content" *ngIf="activeTab == 'description'">-->
<!--          <p class="ws-pre-line">{{ course.description }}</p>-->
<!--        </div>-->
<!--        <div class="col-sm-12 no-gutters tab-content" *ngIf="activeTab == 'content'">-->
<!--          <div class="list-group">-->
<!--            <div class="list-group-item" *ngFor="let lesson of course.lessons; let i = index">-->
<!--              <div class="row">-->
<!--                <div class="col-sm-10">-->
<!--                  <b>{{ lesson.name }}</b>-->
<!--                  <p class="ws-pre-line">{{ lesson.description }}</p>-->
<!--                </div>-->
<!--                <div class="col-sm-2">-->
<!--                  <a class="btn" (click)="openPlayer(lesson)">-->
<!--                    <i class="fas fa-play-circle"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>`-->

<!--<div class="container">-->
<!--  <aside class=""-->
<!--</div>-->
