@import '~src/_variables.scss';

.container {
    padding: 15px;
}

.form {
    display: block;
    width: 100%;
}

.filters--input-group {
    margin-bottom: 12px;

    .input-group--label {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        text-transform: uppercase;
        font-size: $label-font-size;
        font-weight: 500;
        color: $grey;
    }

    .input-group--input {
        width: 100%;
        background: #FFF;
        border: 1px solid $off-white-darker;
        border-radius: 4px;
        padding: 8px 16px;
        transition: border-color 0.3s;

        &:focus {
            border-color: lighten($purple, 33%);
        }
    }
}