.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/bg-vector-complex.svg');
  background-repeat: no-repeat;
  background-size: 75%;
}

@media screen and (min-width: 768px) {
  .background { background-position-x: 100%; }
  .container-fluid { height: 100%; }
}

@media screen and (max-width: 768px) {
  .background {
    background: #2082DD;
  }
}

.navbar.navbar-transparent {
    background: transparent;
}

.row.full-height {
  height: 100%;
}

.lede { font-size: 24px; font-weight: 500; margin: 0px; color: #555555; font-family: 'IBM Plex Sans', sans-serif; }
.sub-lede { font-size: 18px; font-weight: 200; margin: 0px; color: #555555; font-family: 'IBM Plex Sans', sans-serif; }

:host{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
