.header {
    width: 100%;
    height: 90vh;
    min-height: 430px;
    background-image: linear-gradient(
        to bottom,
        rgba(59, 84, 169, 0.75),
        rgba(59, 84, 169, 0.75)
    ), url(/assets/images/monitors.jpg);
    background-size: cover;
    background-position: top left;
    margin: auto;
    box-shadow: 25px 0px 0px rgba(59, 84, 169, 0.33);
    text-align: center;
    display: block;
    overflow: auto;

    .header--top-margin {
        height: calc(50% - 203px);
    }

    .header--typography {

        .typography--primary {
            margin: 0px;

            .primary--main, .primary--sub, .primary--slogan, .primary--logo {
                display: block;
                color: #FFF;
            }

            .primary--main {
                font-size: 96px;
                font-weight: 100;
                letter-spacing: 8px;
                line-height: 110px;
            }

            .primary--sub {
                font-size: 36px;
                font-weight: 200;
            }

            .primary--slogan {
                font-size: 18px;
                font-weight: 500;
                line-height: 100px;
            }

            .primary--logo {
                svg {
                    fill: white;
                }    
            }
        }
    }

    .button {
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 400;
    }
}

@media (min-width: 960px) {
    .header {
        clip-path: polygon(8% 0, 50% 100%, 92% 0);
        min-height: 520px;
    }
}

@media (min-width: 960px) and (max-width: 1700px) {
    .header {
        .header--top-margin {
            height: calc(50% - 250px);
        }
    }
}

@media (max-width: 450px) {
    .header {
        .header--typography {
            .typography--primary {
                .primary--main {
                    font-size: 20vw;
                }
            }
        }
    }
}