<header class="header">
    <div class="header--typography">
        <h1 class="typography--primary">
            <span class="primary--logo">
                <svg width="100" height="100" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M34.3517 4.97175L19.4752 30.4578L4.59864 4.97176L34.3517 4.97175Z" stroke="#3B54A9"/>
                        <path d="M30.0061 7.45329L19.4751 25.4946L8.9442 7.45329L30.0061 7.45329Z" stroke="#3B54A9"/>
                        <path d="M15.8713 15.5197L19.4752 9.34566L23.079 15.5197H15.8713Z" stroke="#3B54A9"/>
                        <rect x="10.7841" y="31.9496" width="17.4318" height="4.79853" stroke="#3B54A9"/>
                        <path d="M15.8898 31.9501L13.5134 36.22L11.137 31.9501L15.8898 31.9501Z" stroke="#3B54A9"/>
                        <path d="M17.0996 36.7359L19.4752 32.4762L21.8507 36.7359L17.0996 36.7359Z" stroke="#3B54A9"/>
                        <path d="M27.863 31.9509L25.4867 36.2201L23.1103 31.9509L27.863 31.9509Z" stroke="#3B54A9"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="100" height="100" fill="white"/>
                        </clipPath>
                    </defs>
                    </svg>
            </span>
            <span class="primary--main">Practical</span>
            <span class="primary--sub">Web development courses</span>
            <span class="primary--slogan">For those of us that learn by doing</span>
        </h1>
        <button class="button" type="button" (click)="getStarted()">Get Started</button>
    </div>
</header>
