<div class="container">
    <main [class]="'content ' + displayMode">
        <section class="content--player-controls">
            <div class="controls--display-modes">
                <span class="display-modes--label">Video Display Mode</span>
                <i class="fas fa-expand" [ngClass]="{'active': (displayMode == 'wide')}" (click)="setDisplayMode('wide')"></i>
                <i class="fas fa-compress" [ngClass]="{'active': (displayMode == 'narrow')}" (click)="setDisplayMode('narrow')"></i>
            </div>
        </section>
        <section class="content--player">
            <div class="player--iframe-container" *ngIf="loading">
                <app-loading-indicator [state]="loading"></app-loading-indicator>
            </div>
            <div class="player--iframe-container" *ngIf="!loading && lesson">
                <iframe [src]="embedUrl()" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
        <section class="content--description">
            <div class="description--content" *ngIf="lesson">
                <h2 class="content--title">{{ lesson.name }}</h2>
                <p class="content--description">{{ lesson.description }}</p>
            </div>
        </section>
    </main>
</div>