<div class="row">
    <div class="col-sm-12">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/2r8Aua04AyQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 text-left">
                Back a lesson
            </div>
            <div class="col-sm-4 text-center">
                Lesson n of {{ course.lessons.length }}
            </div>
            <div class="col-sm-4 text-right">
                Next lesson
            </div>
        </div>
    </div>
</div>