@import '~src/_variables.scss';

.filters {
    display: flex;
    flex: 0.15;
    flex-direction: column;
}

.filters--input-group {
    margin-bottom: 12px;

    .input-group--label {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        text-transform: uppercase;
        font-size: $label-font-size;
        font-weight: 500;
        color: $grey;
    }

    .input-group--input {
        width: 100%;
        background: #FFF;
        border: 1px solid $off-white-darker;
        border-radius: 4px;
        padding: 8px 16px;
        transition: border-color 0.3s;

        &:focus {
            border-color: lighten($purple, 33%);
        }
    }
}

.filters--tag-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .tag-list--item {
        background: $off-white;
        display: flex;
        padding: 6px 12px;
        margin-bottom: 6px;
        border: 1px solid darken($off-white, 2.5%);

        .item--text  {
            flex-grow: 1;
            color: $purple;
        }

        .item--input {
            flex-shrink: 1;
            justify-content: center;
        }
    }
}