/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,600,700&display=swap');

@import '~src/_variables.scss';

* { box-sizing: border-box; }

body {
  font-family:'IBM Plex Sans', sans-serif;
  border-top:  5px solid $purple;
  background: #FBFBFB;
}

.button {
  background: #FFF;
  color: $purple;
  padding: 6px 12px;
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &.inverse {
    background: $purple;
    color: #FFF;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer !important;
}