/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,600,700&display=swap');

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

app-root {
    height: 100%;
}
